<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>Usuário</ion-title>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">

   
    <ion-input class="inputAcesso" placeholder="Categoria"
     type="text"></ion-input>      



 
  <ion-input class="inputAcesso" placeholder="nome"
   type="text"></ion-input>    



   
  <ion-input class="inputAcesso" placeholder="CPF"
   type="text"></ion-input>      

   
  <ion-input class="inputAcesso" placeholder="Telefone"
   type="text"></ion-input>      

   
  <ion-input class="inputAcesso" placeholder="Email"
   type="text"></ion-input>      

   
  <ion-input class="inputAcesso" placeholder="Senha"
   type="text"></ion-input>      

<ion-button expand="block" (click)="presentToast('top')">Cadastrar</ion-button>



</ion-content>
