<ion-header [translucent]="true">
 
</ion-header>

<ion-content class="controlador" [fullscreen]="true">
  
<ion-avatar class="avatarTopo" >
  <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
</ion-avatar>


  <ion-item >
   
      <ion-input class="inputAcesso" placeholder="Usuario"
       type="text" [(ngModel)]="pessoa.usuario"></ion-input>      
  </ion-item>

  <ion-item >
   
    <ion-input class="inputAcesso" placeholder="Senha"
     type="text" [(ngModel)]="pessoa.senha"></ion-input>    
   

</ion-item>


<ion-button class="btnEnvio" (click)="abrirPagina('dashboard')">Acessar</ion-button>

<ion-item >
   
  'Ainda não cadastrado?'

</ion-item>
<ion-button  class="btnEnvio" (click)="abrirPagina2('cadastro')">Cadastrar</ion-button>

</ion-content>

